[build]
  publish = "."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*.js"
  [headers.values]
    Cache-Control = "no-cache, no-store, must-revalidate"

[[headers]]
    for = "/sw.js"
    [headers.values]
      Cache-Control = "no-cache, no-store, must-revalidate"
      Service-Worker-Allowed = "/"
